.bicicletas-bg:nth-child(3) {
  background: linear-gradient(to right, var(--cor-0) 30%, var(--cor-11) 30%);
}

.bicicletas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.bicicletas-img {
  display: grid;
}

.bicicletas-img img {
  grid-area: 1/-1;
}

.bicicletas-img span {
  grid-area: 1/-1;
  place-self: start end;
  background: var(--cor-12);
  padding: 8px 16px 8px 8px;
  display: inline-block;
  margin-top: 20px;
  border-radius: 4px 0px 0px 4px;
}

.bicicletas-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.bicicletas h2,
.bicicletas p {
  grid-column: 1/-1;
}

.bicicletas h2 {
  margin-bottom: 20px;
}

.bicicletas h2::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background: var(--cor-p1);
  margin-bottom: 8px;
}

.bicicletas p {
  margin-bottom: 32px;
}

.bicicletas a {
  place-self: end;
}

.bicicletas li {
  display: flex;
  align-items: center;
}

.bicicletas li:nth-child(-n + 3) {
  margin-bottom: 16px;
}

.bicicletas-conteudo img {
  width: 24px;
  margin-right: 8px;
}

.button.seta {
  display: flex;
  align-items: center;
}

.button.seta::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 12px;
  background: url(../../img/icones/seta.svg);
  transition: transform 0.2s;
}

.button.seta:hover::after {
  transform: translateX(4px);
}
