.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  background-image: linear-gradient(#ffbf00, #f2a50c);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  padding: 16px 32px;
  color: var(--cor-p5);
  text-transform: uppercase;
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  border-radius: 5px;
  max-width: max-content;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-image: linear-gradient(#ffb60d, #e59317);
}

.button.secundary {
  background: var(--cor-10);
  color: var(--cor-2);
}

.button.secundary:hover {
  background: var(--cor-9);
}

@media (max-width: 600px) {
  .button {
    padding: 12px 16px;
    font-size: 16px;
  }
}

.link {
  display: inline-block;
  color: var(--cor-p1);
  font: 500 1.5rem/1.5 "Poppins", sans-serif;
  text-transform: uppercase;
}

.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
}

.link:hover {
  color: var(--cor-0);
}

.titulo-bg {
  background-color: var(--cor-11);
  padding-top: 60px;
  padding-bottom: 60px;
}

.titulo {
  background: url(../../img/dec/top-right.svg) no-repeat top right 20px;
}

.titulo span {
  margin-bottom: 4px;
}
