body {
  overflow-x: hidden;
}

header {
  overflow-x: hidden !important;
}

.header-bg {
  background-color: var(--cor-12);
}

#menuToggle input {
  display: none;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header nav img {
  display: none;
}

.header-menu a {
  padding: 16px 0px;
  display: inline-block;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background: var(--cor-0);
  margin-top: 4px;
  transition: width 0.3s;
  position: absolute;
}

.header-menu a:hover:after,
.header-menu a.active::after {
  width: 100%;
}
