/** HOME PAGE **/

/* header */
.header-menu {
  gap: 20px;
}
.header-menu a {
  background: var(--cor-11);
  padding: 12px 16px;
  border-radius: 4px;
}
.header-menu a:hover {
  background: var(--cor-10);
}

.header a::after {
  display: none;
}

/* introdução */

.introducao-bg {
  background: var(--cor-11);
  padding-top: 40px;
  box-shadow: inset 0 -60px var(--cor-0);
}
.introducao {
  grid-template-columns: 1fr;
  gap: 32px;
}
.introducao-conteudo {
  padding-bottom: 0px;
}

.introducao h1 {
  margin-bottom: 16px;
}

.introducao img {
  height: 300px;
  width: 100%;
}

/* bicicletas */

.bicicletas-lista {
  padding-bottom: 60px;
}

.bicicletas-lista ul {
  gap: 20px;
}

/* tecnologia */

.tecnologia-bg {
  box-shadow: initial;
}

.tecnologia {
  grid-template-columns: 1fr;
}

.tecnologia-conteudo {
  padding-top: 60px;
  padding-bottom: 60px;
}

.tecnologia-img {
  display: none;
}

.tecnologia a {
  margin-bottom: 60px;
}

/* parceiros */

.parceiros {
  padding-bottom: 60px;
}

.parceiros h2 {
  margin-bottom: 20px;
}

.parceiros ul {
  grid-template-columns: repeat(2, 1fr);
}

.parceiros li:nth-child(n + 3) {
  border-top: 2px solid var(--cor-2);
}

.parceiros li:nth-child(odd) {
  border-left: none;
}

/* depoimentos */
.depoimento {
  grid-template-columns: 1fr;
  text-align: center;
}

.depoimento img {
  max-height: 200px;
}

.depoimento-conteudo {
  padding: 40px 20px;
  justify-self: center;
}

/* seguros */
.seguros {
  grid-template-columns: 1fr;
}

/* footer */

.footer > img {
  display: none;
}

.footer {
  grid-template-columns: 1fr 1fr;
}

/* TERMS PAGE */

.titulo-bg {
  padding-bottom: 40px;
  padding-top: 40px;
}

.titulo span {
  font-size: 1rem;
  text-transform: lowercase;
  font-weight: 400;
}

/* Page bikes */

.bicicletas {
  grid-template-columns: 1fr;
  gap: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.bicicletas-bg:nth-child(3) {
  background: var(--cor-11);
}

/* Seguros */

.vantagens {
  padding-top: 60px;
  padding-bottom: 60px;
}

.vantagens h2 {
  margin-bottom: 40px;
}

.vantagens ul {
  gap: 20px;
}

.perguntas {
  padding-top: 60px;
  margin-bottom: 60px;
}

.perguntas h2 {
  margin-bottom: 40px;
}

/* bicicleta */

#bicicleta .titulo > span {
  text-transform: uppercase;
}

.bicicleta {
  grid-template-columns: 1fr;
  padding-top: 40px;
  padding-bottom: 40px;
}

.bicicleta-img {
  grid-row: 2;
}

/* bicicleta - seguro */

.seguro-bg {
  box-shadow: inset 0 -60px var(--cor-12);
}

.seguro-img {
  height: 250px;
}

.seguro {
  grid-template-columns: 1fr;
}

.seguro-conteudo {
  grid-row: 1;
  padding-top: 40px;
  padding-bottom: 0;
}

/* contato */

.contato {
  grid-template-columns: 1fr;
}

.contato-dados,
.contato-formulario {
  padding: 20px;
}

.contato-dados {
  border-radius: 5px 5px 0 0;
  background: var(--cor-12);
}

.contato-formularrio {
  border-radius: 0 0 5px 5px;
}

.contato-dados h2,
.contato-meios a:nth-child(3) {
  margin-bottom: 32px;
}

.contato-rede {
  margin-bottom: 12px;
}

/*lojas*/

.lojas {
  gap: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.lojas h2 {
  margin-bottom: 32px;
}

.lojas-conteudo {
  grid-template-columns: 1fr;
}

/* orçamento */

.orcamento {
  grid-template-columns: 1fr;
}

.orcamento-produto {
  border-radius: 5px 5px 0 0;
}

.orcamento-dados {
  border-radius: 0 0 5px 5px;
}
